#footer{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 34, 29);
    padding: 3rem 0;
}

#footer h1,p,li a{
    color: #ffffff;
}

#footerWrap{
    width: 60%;
    display: flex;
    gap:2rem
}

#footerLeft,#footerRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

#footerLeft{
    align-items: flex-start;
}

#footerLeft h1{
    font-size: 1.1rem;
    font-weight: bold;
}

#footerLeft p{
    font-size: 0.8rem;
    color: #ffffff;
}

#footerRight{
    align-items: flex-end;
}

#footerRight ul{
    display: flex;
    gap: 1.5rem;
}

#footerRight ul li a{
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}

#footerRight ul li a:hover{
    color: rgb(114, 29, 117);
}

#socialIcons{
    display: flex;
    gap:0.5rem
}

#socialIcons img{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

@media (min-width: 250px) and (max-width: 1024px){
    #footer{
        padding: 0.2rem 0;
    }

    #footerWrap{
        width: 100%;
        height: auto;
        gap:2rem;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #footerLeft,#footerRight{
        gap: 1rem;
        height: auto;
        width: max-content;
        padding:0 1rem;
    }
    #footerRight{
        align-items: flex-start;
    }
    
    #footerRight ul{
        gap: 1.3rem;
    }
}

@media (min-width: 250px) and (max-width: 768px){
    #footerLeft h1{
        font-size: 1.3rem;
    }
    
    #footerLeft p{
        font-size: 0.8rem;
    }
    
    #socialIcons{
        gap:0.8rem
    }
    
    #socialIcons img{
        width: 1.1rem;
        height: 1.1rem;
    }
   
}

@media (min-width: 250px) and (max-width: 480px){
    #footerRight ul li a{
        font-size: 0.8rem;
    }
    #footerRight ul{
        width: 80%;
        gap: 0.6rem;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    #footerRight ul li a{
        font-size: 0.9rem;
    }
    #footerRight ul{
        width: 80%;
        gap: 0.7rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    #footerLeft h1{
        font-size: 1.5rem;
    }
    
    #footerLeft p{
        font-size: 1.3rem;
    }

    #footerRight ul li a{
        gap: 1.3rem;
        font-size: 1.1rem;
    }
    
    #socialIcons{
        gap:1rem
    }
    
    #socialIcons img{
        width: 1.3rem;
        height: 1.3rem;
    }
   
}

@media (min-width: 250px) and (max-width: 480px){
    #footerWrap{
        padding: 1.2rem;
    }
}

@media (min-width: 481px) and (max-width: 640px){
    #footerWrap{
        padding: 1.5rem;
    }
}

@media (min-width: 641px) and (max-width: 768px){
    #footerWrap{
        padding: 1.8rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    #footerWrap{
        padding: 2.3rem;
    }
}